@using SecuDev.Models;
@using SecuDev.Helper;
@using X.PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    string nowDate = Utility.GetNowDate();

}
<script src="/lib/FullCalendar/fullcalendar.js"></script>
<script>

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            height: '80vh',
            timeZone: 'Asia/Seoul',
            themeSystem: 'bootstrap5',
            dayMaxEvents: true, // when too many events in a day, show the popover
            events: @Html.Raw(ViewBag.Schedule)
        });

        calendar.setOption('locale', 'ko');
        calendar.render();
    });

</script>
<div id="calendar">
</div>