@using SecuDev.Models;
@using SecuDev.Helper;
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    string nowDate = Utility.GetNowDate();

}

<script src="/lib/FullCalendar/fullcalendar.js"></script>

<script>

    var calender

    $().ready(function(){

        var calendarEl = document.getElementById('calendar');
        calendar = new FullCalendar.Calendar(calendarEl, {
            height: '80vh',
            timeZone: 'Asia/Seoul',
            themeSystem: 'bootstrap5',
            selectable:true,
            dayMaxEvents: true, // when too many events in a day, show the popover
            events: @Html.Raw(ViewBag.Schedule),
            select: function(info) {

                // alert('selected ' + info.startStr + ' to ' + info.endStr);

                fnOpenModal(info.startStr, info.endStr)

            }
        });

        function fnOpenModal(start, end) {

            start = new Date(start)
            $("#ScheduleStart").attr("date", dateFormat(start, 'yyyymmdd'))
            $("#ScheduleStart").text(dateFormat(start, 'yyyy-mm-dd'))

            end = new Date(end);
            $("#ScheduleEnd").attr("date", dateFormat(end, 'yyyymmdd'))
            end.setDate(end.getDate() - 1)
            $("#ScheduleEnd").text(dateFormat(end, 'yyyy-mm-dd'))


            $("#AddSchedule").modal('show')
            $("#ScheduleContent").val("")

        }

        calendar.setOption('locale', 'ko');
        calendar.render();
    })
    

    function fnAddSchedule(){

        const start = $("#ScheduleStart").attr("date")
        const end = $("#ScheduleEnd").attr("date")
        const content = $("#ScheduleContent").val()

        if (content == "") {
            alert("내용을 입력해주세요.")
            return
        }

        $.ajax({
            type:"POST",
            url:"/Schedule/Add",
            data:{
                start : start,
                end : end,
                content : content
            },
            success:function(){

                calendar.addEvent({
                    title: content,
                    start: start,
                    end: end,
                    allDay: true
                })
            }
        })




        $("#AddSchedule").modal('toggle')
    }

    

</script>

<div id="calendar"></div>

<div id="AddSchedule" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">

                <div class="d-flex align-items-center justify-content-center">
                    <h6 class="m-0"> 일정 추가 </h6> 
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"></button></span>
                </div>

                <hr />

                <div>
                    <h6>기간</h6>
                    <span id="ScheduleStart"></span> ~ <span id="ScheduleEnd"></span>
                </div>

                <hr />

                <div>
                    <h6>일정 내용</h6>
                    <input type="text" id="ScheduleContent" class="form-control form-control-sm" />
                </div>

                <hr />

                <button type="button" class="btn btn-border col-12" onclick="javascript:fnAddSchedule()">일정 등록</button>

            </div>
        </div>
    </div>
</div>
