@using SecuDev.Models;
@using SecuDev.Helper;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<SecuDev.Models.Users>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string nowDate = Utility.GetNowDate();

    HttpContextAccessor _Ac = new HttpContextAccessor();
    int AuthorityLevel = Int32.Parse(_Ac.HttpContext.Session.GetString("AuthorityLevel"));
    string UID = _Ac.HttpContext.Session.GetString("UID");

    List<Location> list = ViewBag.list;
}

<script>


    $().ready(function(){

        $('#tree').treeview({

            data: getTree(),
            levels: 1,
            backColor: 'var(--bs-light)',
            expandIcon: 'fa-solid fa-plus',
            collapseIcon: 'fa-solid fa-minus',
            highlightSelected: false,
        });

        function getTree() {

            var tree = [
              {
                text: "해군",
                nodes: [
                    {
                        text: "Child 1",
                        nodes: [
                            {
                                text: "Grandchild 1",
                            },
                            {
                                text: "Grandchild 2",
                            }
                        ]
                    },
                    {
                        text: "Child 2",
                        nodes: [

                        ]
                    }
                ]
              },

            ];

          return tree;

        }

    
    })

    function changeIframeUrl(url)
    {
        document.getElementById("IfProject").src = url;
    }

    function fnOpenModal(LocationID) {

        $("#IfProject").attr("src", "/Project/IfRead?LocationID=" + LocationID);

        $("#proj").modal('show')
    }
</script>

<div>

    <div id="tree"></div>

</div>

<div id="proj" class="modal fade">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6>프로젝트 이름</h6>
            </div>
            <div class="modal-body">

                <div>
                    <h6>
                        프로젝트 진행률
                        <small class="float-end">프로젝트 진행중...</small>
                    </h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" style="width:70%">70%</div>
                    </div>
                </div>

                <hr />

                <iframe id="IfProject">

                </iframe>

            </div>
        </div>
    </div>
</div>