@using SecuDev.Models;
@using SecuDev.Helper;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<SecuDev.Models.Users>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string nowDate = Utility.GetNowDate();

    HttpContextAccessor _Ac = new HttpContextAccessor();
    int AuthorityLevel = Int32.Parse(_Ac.HttpContext.Session.GetString("AuthorityLevel"));
    string UID = _Ac.HttpContext.Session.GetString("UID");
}

<script>


    $().ready(function(){

        // 디버그용
        $("#proj").modal('show')

    })

    function changeIframeUrl(url)
    {
        document.getElementById("IfProject").src = url;
    }
</script>

<div>

    <table class="table table-light">
        <tr>
            <td>
                진해기지사령부
            </td>
        </tr>
        <tr>
            <td>
                1함대
            </td>
        </tr>
        <tr>
            <td>
                2함대
            </td>
        </tr>
        <tr>
            <td>
                3함대
            </td>
        </tr>
        <tr>
            <td>
                해군작전사령부
            </td>
        </tr>
        <tr>
            <td>
                7전단
            </td>
        </tr>

    </table>

</div>

<div id="proj" class="modal fade">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6>프로젝트 이름</h6>
            </div>
            <div class="modal-body">

                <div>
                    <h6>
                        프로젝트 진행률
                        <small class="float-end">프로젝트 진행중...</small>
                    </h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" style="width:70%">70%</div>
                    </div>
                </div>

                <hr />

                <iframe id="IfProject" src="/Project/IfRead">

                </iframe>

            </div>
        </div>
    </div>
</div>